* {
  margin: 0;
  padding: 0;
  background-color: rgb(24, 23, 23);
  color: green;
}

.hacking {
  /* height: 800px;
  width: 600px; */
  background-color: black;
  position: absolute;
  top: 50px;
  left: 100px;
  /* display: block; */
}


